html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    /* background: #e4e4e4; */
}

.menu {
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul {
    width: 250px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu ul li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out .2s;
}

.menu ul li a:hover {
    border-bottom: 2px solid blue;
    padding-bottom: 10px;
}

#projeto {
    width: 80%;
    height: auto;
}



/* CONTATO */
.contato {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    align-items: center;
    text-align: center;
}

.contato > .contato-titulo h2 {
    font-size: 26px;
    font-weight: 600;
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

.contato > .contato-social {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contato > .contato-social a {
    margin: 0 10px;
    font-size: 48px;
    color: black;
}

.contato > .contato-social i:hover {
    background-image: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
    /* background-image: linear-gradient(135deg, #667eea 0%, #810181 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato > .contato-pessoal {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.contato > .contato-pessoal p {
    margin: 10px;
    font-size: 20px;
}

.contato > .contato-pessoal p a {
    text-decoration: none;
    color: #000000;
}

.contato > .contato-pessoal p i {
    font-size: 24px;
    margin-right: 5px;
}


.contato > .contato-pessoal i:hover {
    background-image: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* FOOTER */
footer {
    width: 100%;
    background: #000000;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 20px;
    color: #fff;
}

/* PÃGINA SOBRE */
.apresentacao {
    width: 70%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.apresentacao > .apresentacao-inicial {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.apresentacao > .apresentacao-inicial p {
    font-size: 22px;
    margin: 10px;
}

.apresentacao > .apresentacao-inicial h2 {
    font-size: 40px;
    font-weight: bold;
}

.apresentacao > .apresentacao-inicial .destaque {
    font-weight: bolder;
    background-image: linear-gradient(135deg, #2575fc 0%, #810181 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apresentacao > .apresentacao-convite {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.apresentacao > .apresentacao-convite p {
    font-size: 22px;
    margin: 10px;
}

.apresentacao > .apresentacao-convite button {
    margin: 10px;
    background: none;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: ease-in-out .2s;
    outline: none;
}
.apresentacao > .apresentacao-convite button.btn-sim {
    margin-top: 20px;
    cursor: pointer;
    border: 2px solid #810181;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #810181;
}

.apresentacao > .apresentacao-convite button.btn-sim:hover {
    background: #810181;
    color: #fff;
}

.apresentacao > .apresentacao-convite button.btn-nao {
    border: 1px solid #333333;
    padding: 8px 5px;
    width: 150px;
    font-size: 18px;
}

.apresentacao > .apresentacao-convite button.btn-nao:hover {
    background: #333333;
    color: #fff; 
}

/* MODAL */
.modal .modal-body h3 {
    font-weight: 600;
    text-align: center;
    color: blue;
    margin-top: 30px;
}

.modal .modal-body p {
    text-align: center;
    font-size: 20px;
}

.modal .modal-body .modal-social {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 30px auto 10px auto;
}

.modal .modal-body .modal-social i {
    color: #000000;
    font-size: 40px;
}

.modal .modal-body .modal-social i:hover {
    background-image: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
    /* background-image: linear-gradient(135deg, #667eea 0%, #810181 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal .modal-footer button {
    background: none;
    border: 1px solid #333333;
    color: #333333;
}

.modal .modal-footer button:hover {
    background: #333333;
    border: 1px solid #333333;
    color: #fff ;
}



  @media only screen and (max-width: 1200px) {
    .projeto > .projeto-site {
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        height: auto;
        padding: 0;
    }

    .projeto > .projeto-site .site-titulo, .site-descricao {
        width: 650px;
        margin: 0;
        padding: 0 10px;
    }

    .projeto > .projeto-site .site-img-link {
        margin: 10px 0 0 0;
    }

    .projeto > .projeto-site .site-img-link img {
        width: 99%;
        height: auto;
        border-radius: 0;
        margin: 0 0 0 3px;
    }
  }

  @media only screen and (max-width: 980px) {
    .projeto > .projeto-site .site-titulo, .site-descricao {
        max-width: 450px;
    }
  }

  @media only screen and (max-width: 700px) {
    .projeto > .projeto-site .site-titulo, .site-descricao {
        max-width: 350px;
    }
  }

  @media only screen and (max-width: 560px) {
    .projeto > .projeto-site .site-titulo, .site-descricao {
        max-width: 250px;
    }
  }