html, body {
    margin: 0;
    padding: 0;
    background: #000;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #fff;
}

.intro h2 {
    font-size: 66px;
    margin: 0;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
}

.intro h1 {
    background-image: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    letter-spacing: 2px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 600;
}


.intro button.btn__contato {
    width: auto;
    height: auto;
    box-sizing: border-box;
    background: none;
    border-image: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%) 1;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px 20px;
    margin-top: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.intro button.btn__contato:hover {
    background-image: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
}

.message-submit h2, h4 {
    color: #fff;
    font-size: 2em;
}